core_nonecore_model_20240330.tflite filter=lfs diff=lfs merge=lfs -text
finetuning_field_lithology_vgg_model_20240330.tflite filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
